*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#full-bg{
    background-color: orange;
    width: 100%;
}


footer{
    background-color: black;
    color: white;
}
body{
    width: 100%;

}
.debug{
    border: solid black 2px;
}

a{
    padding: 10px;
    display: inline-block;
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
}
.d-flex{
    display: flex;
    flex-flow: row;
}
.d-flex-column{
    display: flex;
    flex-flow: column;
}
.justify-between{
    justify-content: space-between;

}
.align-center{
    align-items: center;
    align-content: center;
}
#logo{
    width: 100px;
}

p.icon{
    display: inline-block;
}

/* main */
.card-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.card{
    width: calc(100% / 3);
}

/* footer */

