* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
}

body {
    width: 100%;

}

/* .debug{
    border: solid black 2px;
} */

header {
    background-color: orange;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1000;

}

#full-shop {
    margin-top: 90px;
}

a {
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
}

.d-flex {
    display: flex;
    flex-flow: row;
}

.d-flex-column {
    display: flex;
    flex-flow: column;
}

.justify-between {
    justify-content: space-between;

}

.align-center {
    align-items: center;
    align-content: center;
}

/* header */

#logo {
    width: 100px;
}

#bag {
    color: white;
}

img {
    max-width: 100%;
    padding: 5px;
}

/* main */
.card-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    width: calc(100% / 3);
    padding: 10px 0;
    position: relative;
}

.shop-card {
    padding: 10px;
    position: relative;
}

.item-card {
    position: relative;
}

.btn-item {
    position: absolute;
    bottom: 20px;
    padding: 5px;
    margin: 15px;
    color: white;
    font-size: 0.9em;
}
.discount {
    left: 0px;
    background-color: red;
}



.eco {
    left: 50px;
    background-color: green;
}

.eco-6 {
    left: 0;
    background-color: green;
}

.before {
    text-decoration: line-through;
}

.heart {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px;
    margin: 6px;
    background-color: white;

}

.outlet {
    color: red;
    font-size: 0.8em;
}

.before {
    color: black;
}

/* footer */

.info {
    font-size: 0.8em;
}

h4 {
    padding: 5px;
}